name: pull_request

on:
  push:
    branches:
    - 'master'
  pull_request:

jobs:
  codegen:
    name: Generate Code
    runs-on: ubuntu-18.04
    steps:
    - name: Set up Go 1.16
      uses: actions/setup-go@v1
      with:
        go-version: 1.16

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - uses: actions/cache@v1
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Generate Code
      run: |
        export PATH=$PATH:/home/runner/go/bin/ && ./ci/check-code-gen.sh
